{% extends 'shop/base_generic.html' %}

{% block content %}

<div class="container">
    <h1 class="mt-5">All Cars</h1>

        <form action="{% url 'shop:home' %}" method="get">
            {{ form.as_p }}
            <button type="submit">Search</button>
        
        <a href="{% url 'shop:home' %}">All cars</a>
        </form>

    <div class="row">

        {% for car in cars %}
          <div>
            <a href="{% url 'shop:car_detail' car.id %}">
        
            <p>{{ car.name}}</p>
            </a>
            <p>{{ car.category }}</p>
        
          </div>
        {% empty %}
          <p>No cars found</p>
         
        {% endfor %}
    </div>
</div>



{% endblock %}